@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

body{
    background-color: #444444;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 300;
}

h1,h2,h3,p{
    margin: 10px;
}